include mixins
doctype html
html(lang="es")
  head
    title Plantilla Bootstrap con Jade
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Baking Bootstrap Snippets with Jade')
    +bootswatch("superhero")

  body(style="padding-bottom:10rem;")
    .container
      +nav("Project name", "dropdown_menu", "inverse")
        ul.nav.navbar-nav
          +nav_item("#", "Home", true)
          +nav_item("#", "About")
          +nav_item("#", "Contact")
          +nav_item_dropdown("Dropdown")
            +nav_item("#", "Action")
            +nav_item("#", "Another action")
            +nav_item("#", "Something else here")
            +nav_divider()
            +nav_header("Nav header")
            +nav_item("#", "Separated link")
            +nav_item("#", "One more separated link")

      .btn-group
        a.btn.btn-default(href='#') Default
        a.btn.btn-primary(href='link.htm') Primary
        a.btn.btn-success(href='success.html') Success
        a.btn.btn-info(href='info.html') Info
        a.btn.btn-warning(href='warning.html') Warning
        a.btn.btn-danger(href='#') Danger

      .row
        .col-md-4.col-sm-6.col-xs-12
          +panel("Panel Heading")
            p This is an example panel.
        .col-md-4.col-sm-6.col-xs-12
          +panel("Panel Heading", "panel-success")
            p Panel in success.
        .col-md-4.col-sm-6.col-xs-12
          +panel("Panel Heading", "panel-danger")
            p Panel in danger.

      +alert("warning", "Warning!")
      +alert("danger", "Will Robinson!")
      +alert("success", "You Succeeded :-)")
      +alert("info", "Some information for you")

      .jumbotron
        h1 Hello, world!
        p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
        p
          +button("primary", "more.html", "btn-lg")
            | Learn more

      +listGroup("list")
        +listItem("active") Cras justo odio
        +listItem Dapibus ac facilisis in
        +listItem Morbi leo risus
        +listItem Dapibus ac facilisis in
        +listItem Morbi leo risus
        +listItem Dapibus ac facilisis in

      +listGroup("links")
        +listItem("link1.html", "active")
          +listHeading List group item heading
          +listText Donec id elit non mi porta gravida at eget metus.
        +listItem("link2.html")
          +listHeading List group item heading
          +listText Donec id elit non mi porta gravida at eget metus.
        +listItem("link3.html")
          +listHeading List group item heading
          +listText Donec id elit non mi porta gravida at eget metus.

      +listGroup
        +listItem
          +listHeading List group item heading
          +listText Donec id elit non mi porta gravida at eget metus.
        +listItem
          +listHeading List group item heading
          +listText Donec id elit non mi porta gravida at eget metus.
        +listItem
          +listHeading List group item heading
          +listText Donec id elit non mi porta gravida at eget metus.

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
